<style>
  .words-wrapper {
    margin: auto;
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .word-card {
    margin: 12px;
  }
</style>

<!-- <p>words-list works!</p> -->
<div class="words-wrapper">
  <app-word class="word-card" *ngFor="let word of loadedWordsList; let index = index" [englishWordLabel]="word.englishWord" [translationsLabel]="word.translations[0]"
  validateButtonLabel="Update" resetButtonLabel="Erase" (validateActionEvent)="updateWord($event, index)" (denyActionEvent)="removeWord(word)" footerLabel=""></app-word>
</div>
<ul>
  <!-- <li (click)="removeWord(word.englishWord)" *ngFor="let word of loadedWordsList">{{ word.englishWord }} : <div *ngFor="let translation of word.translations">{{ translation }}</div></li> -->
</ul>
