<app-word class="word-card" englishWordLabel="The Word :" translationsLabel="What does it mean ?" validateButtonLabel="Validate"
[englishWordInput]="currentWord.englishWord"
resetButtonLabel="Pass" (validateActionEvent)="checkWord($event)" (denyActionEvent)="randomizeNewWord()" footerLabel="Be careful, the check is case sensitive..."></app-word>

<div>{{ correctAnswers }} / {{ totalAnswers }}</div>
