<style>
.word-card {
  height: 25vh;
  max-width: 15vw;
  background-color: #817C76;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  border-radius: 18px;
}

.word-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.word-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.word-button-wrapper {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

button.validate-button, button.reset-button {
  background-color: #463F3A;
  border: none;
  color: white;
  margin: auto 12px;
  width: 35%;
  height: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.15s;
  border-radius: 15px;
}

button.validate-button:hover, button.reset-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.word-input-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-top: 14px;
  flex-direction: column;
  justify-content: space-around;
}

input:focus {
  outline: none;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  background-color: #D8D6D0;
}

label {
  color:rgb(117, 117, 117); 
  position: relative;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  left: 6px;
  top: -28px;
  transition: 0.2s ease all; 
}

.card-footer {
  color: white;
  cursor: default;
}

/* active state */
input#english-word-input:focus ~ label.english-word-label, input#english-word-input:not(:placeholder-shown) + label.english-word-label {
  font-size: 14px;
  top: -55px;
  color: white;
}

input#translations-input:focus ~ label.translations-label, input#translations-input:not(:placeholder-shown) + label.translations-label {
  font-size: 14px;
  top: -57px;
  color: white;
}

</style>

<div class="word-card">
  <div class="word-input-wrapper">
    <input type="text" class="form-control word-input" id="english-word-input" placeholder=""
    [(ngModel)]="wordModel.englishWord" name="english-word-input">
    <label class="english-word-label" for="english-word-input"> {{ englishWordLabel }}</label>
    <input type="text" class="form-control word-input" id="translations-input" placeholder=""
    [ngModel]="wordModel.translations" (ngModelChange)="setTranslations($event)" name="translations-input" (keydown)="returnSubmit($event)">
    <label class="translations-label" for="translations-input"> {{ translationsLabel }}</label>
  </div>
  <div class="word-button-wrapper">
    <button class="validate-button" (click)="sendValidateAction()"> {{ validateButtonLabel }} </button>
    <button class="reset-button" (click)="sendDenyAction()"> {{ resetButtonLabel }} </button>
  </div>
  <div class="card-footer"><p> {{ footerLabel }} </p></div>
</div>