<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar .banner-title {
    font-size:x-large;
    margin: auto;
    cursor: default;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    height: 12vh;
    flex-wrap: wrap;
    margin: auto 0 auto auto;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  .content .line-one {
    display: flex;
    width: 90%;
  }
  
  .icon-wrapper {
    align-items: center;
    flex-direction: column;
    display: inline-flex;
    width: 25%;
    align-items: flex-end;
    justify-content: center;
  }

  .shrinked-button {
    margin: 1%;
    transform-origin: center;
    transition: transform 0.1s linear;
    max-width: 22%;
    max-height: 22%;
  }

  .shrinked-button.empty-button {
    translate: 20%;
  }

  .shrinked-button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
</style>


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="banner-title">Welcome to your Language Trainer !</span>
</div>

<div class="content" role="main">

  <div class="line-one">

    <input type="hidden" #selection>
  
    <div class="card-container">
      <div class="card card-small" tabindex="0" (click)="selection.value = 'newword'">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>New Word</span>
      </div>
  
      <div class="card card-small" tabindex="0" (click)="selection.value = 'listwords'">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Word List</span>
      </div>
      <div class="card card-small" tabindex="0" (click)="selection.value = 'exercise'">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Exercise</span>
      </div>
  
      <div class="card card-small" tabindex="0" (click)="simulateUploadFileClick()">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
          <input type="file"
          id="file-btn"
          (change)="uploadAndParseJsonWordsFile($event.target.files)"
          hidden>
        <span>Upload a list</span>
      </div>
    </div>

    <div class="icon-wrapper">
      <img class="save-button shrinked-button" src="assets/pencil.png" alt="save-to-file-button" (click)="saveToFile()">
      <!-- <img class="local-save-button shrinked-button" src="assets/save.png" alt="save-locally-button" (click)="saveToLocalStorage()"> -->
      <img class="empty-button shrinked-button" src="assets/dump.png" alt="empty-list-button" (click)="emptyList()">
    </div>
  </div>

  <div class="selected-module" [ngSwitch]="selection.value">
    <div *ngSwitchDefault><app-word-form (postMessageEvent)="getNewWord($event)"></app-word-form></div>
    <div *ngSwitchCase="'listwords'"><app-words-list [loadedWordsList]='wordsList' (removeWordEvent)="removeWordFromList($event)"
      (updatedWordsListEvent)="getUpdatedList($event)"></app-words-list></div>
    <div *ngSwitchCase="'exercise'"><app-exercise [loadedWordsList]='wordsList'></app-exercise></div>
  </div>

</div>

<router-outlet></router-outlet>